body{
  background-color: #FEFEDF ;
}

.App {
  text-align: center;
  margin-top: 50px;
}

.mainText{
  color: #845EC2;
  font-size: 70px;
}

.regText{
  margin: 0;
  font-size: 20px;
  color: #C493FF;
}

.regTextInput{
  margin-top: 30px;
}

.inputReg{
  margin-top: 200px;
  
}

.regUser{
  border:none;
  background-color:#C493FF;
  width: 500px;
  height: 30px;
  border-radius: 30px;
  padding: 8px;
}

.ifYouHaveAccount{
  margin: 0;
  font-size: 15px;
  color: #00C9A7;
}

.ButtCreateAcc{
  border:none;
  background-color:#845EC2;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  padding: 8px;
  margin-top: 30px;
  margin-left: 350px;
  color: #FEFEDF ;
  font-size: 20px;
}