body{
  background-color: #FEFEDF ;
}

.App {
  text-align: center;
  margin-top: 50px;
}

.mainText{
  color: #845EC2;
  font-size: 70px;
}

.registrationText{
  color: #845EC2;
  font-size: 30px;
}

.regText{
  margin: 0;
  font-size: 20px;
  color: #C493FF;
}

.regTextInput{
  margin-top: 30px;
}

.inputReg{
  margin-top: 100px;
  
}

.regUser{
  border:none;
  background-color:#C493FF;
  width: 500px;
  height: 30px;
  border-radius: 30px;
  padding: 8px;
}

.ifYouHaveAccount{
  margin: 0;
  font-size: 15px;
  color: #00C9A7;
}

.ButtCreateAcc.enabled{
  border:none;
  background-color:#845EC2;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  padding: 8px;
  margin-top: 30px;
  margin-left: 350px;
  color: #FEFEDF ;
  font-size: 20px;
}

.ButtCreateAcc.disabled{
  border:none;
  background-color:#aa9dbe;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  padding: 8px;
  margin-top: 30px;
  margin-left: 350px;
  color: #FEFEDF ;
  font-size: 20px;
}


/* ___________main blok*/



.topBorder{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0px 20px;
  
}

.WishListMain{
  margin: 0;
  color: #845EC2;
  font-size: 30px;
}

.buttSerch{
  margin-left: auto;
  border:none;
  background-color:#845EC2;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  padding: 8px;
  color:#FEFEDF;
  font-size: 20px;
}


.mainPhotoUser{
  width: 200px;
  border: 4px solid #00C9A7;
  border-radius: 100px;
}

.userInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px 0px 60px;
  margin: 10px 50px 0px 50px;
}

.inputDescription{
  background-color: #C493FF;
  height: 300px;
  width: 400px;
  border-radius: 50px;
}

.nameUserDesc{
  background-color:#845EC2;
  width: 120px;
  height: 30px;
  border-radius: 50px;
  margin: 15px 0px 0px 20px;
  padding-top: 5px;
  color: #FEFEDF;
  font-size: 20px;
}

.InputDescription{
  background-color: #C493FF;
  margin-top: 10px;
  border: #845EC2;
  width: 250px;
  height: 220px;
  border-radius: 50px;
  color: #FEFEDF;
  padding: 10px 10px 10px 10px;
}



/* ///////////////////// */
.ButtonAlfPrice{
  float: right;
  margin-top: 50px;
  margin-right: 20px;
  /* margin-bottom: 40px; */
}
.WishList{
  width: 100%;
}

.BFilter{
  background-color: #00C9A7;
  border: none;
  color: #FEFEDF;
  border-radius: 50px;
  
}


.buttonAndTextList{
  position: relative;
  display: flex;
  justify-self: center;

 
}

.MyWishText{
  color: #00C9A7;
  font-size: 40px;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  margin: 0 auto;
  

  
}

.MyWishButton{
  background-color:#845EC2;
  width: 120px;
  height: 30px;
  border-radius: 50px;
  color: #FEFEDF;
  font-size: 20px;
  border: none;


  margin-left: auto;
  /* margin: 50px 30px 0px 0px;
  position: absolute; */
  /* right: 0; */
}

/* /////////////////////////////// */

.link {
  text-decoration: none; 
  color: #FEFEDF; 
}


.WishList{
  margin: 50px 0px 0px 0px;

}

.WishItem {
  height: 40px;
  margin: 10px 20px 20px 20px;
  border-radius: 70px;
  background-color: #C493FF;
  display: flex;
  justify-content: space-between;
}



.ItemName {
  order: 1;
  margin: 8px 0px 0px 20px;
  font-size: 20px;
}

.ItemPrice {
  color: #845EC2;
  order: 2;
  margin: 8px 20px 0px 0px;
  font-size: 20px;
  font-stretch: wider;
}




.wishItemContainer{
  margin-top: 100px;
}



/* //////////////wish information//////////////// */

.NewWishList{
  margin-left: 50px;
  margin-right: 50px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 40px; */
}

.WishListText{
  margin-right: 0;
  color: #845EC2;
  font-size: 50px;
  margin: 10px 30px 0px 0px;
}

.buttonBack{
  margin-left: 0;
  border:none;
  background-color: #00C9A7;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  padding: 8px;
  color:#FEFEDF;
  font-size: 20px;
}

/* /// */
.InfName{
  margin-top:  50px;

  color: #845EC2;
  font-size: 30px;
}

/* ////// */

.AllInformWishs{
  margin: 50px 20px 20px 20px;
}

.informNameBlock{
  margin: 20px 0px 10px 0px;
}

.infName{
  color: #00C9A7;
  margin-left: -600px;
  font-size: 20px;
}
.InfBlock{
  display: flex;
  justify-content: space-between; /* Распределение элементов по контейнеру с отступом между ними */
  align-items: left; 
  
}

.InfB{
  background-color: #C493FF;
  width: 600px;
  height: 50px;
  margin-left: 20px;
  border-radius: 50px;
  color: #FEFEDF;
  font-size: 40px;
  text-align: left;
  padding-left: 15px;
}

.InfButt{
  background-color: #C493FF;
  border: none;
  width: 50px;
  height: 50px;
  margin-right: 150px;
  border-radius: 50px;
  color: #FEFEDF;
  font-size: 30px;
}
